# History files
.Rhistory

# Example code in package build process
*-Ex.R
temp.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
.Rproj.user
*.Rproj

# directories
Data_external/
Figures/
Objects/
Project_Medip/
Results_scripts/
Reports/

